<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head>

	<link href="./resources/css/index.css" rel="stylesheet"
		type="imagen/css" />

	<h:outputStylesheet library="css" name="estilos.css" />
	<f:event listener="#{masterBean.verificarSesion()}"
		type="preRenderView"></f:event>
	<h:outputStylesheet library="webjars"
		name="font-awesome/5.12.0/css/all.min-jsf.css" />
	<h:outputStylesheet library="webjars"
		name="font-awesome/5.12.0/css/v4-shims.min-jsf.css" />


	<title><ui:insert name="titulo">Admin</ui:insert></title>
</h:head>

<body class="resolucion"
	style="color: #fff;font-family: 'Roboto', negrite; background: #000000;  background: -webkit-linear-gradient(to right, #434343, #000000); background: linear-gradient(to right, #434343, #000000);">

	<ui:insert name="header">
		<p:menubar>
			<p:menuitem value="Inicio" url="../vista.xhtml"
				icon="pi pi-home" />

			<p:menuitem value="Crear Administrador" url="../registrar.xhtml"
				icon="fas fa-user" />

			<p:menuitem value="Crear Persna"
				url="../protegido/personas.xhtml" icon="fas fa-plus-square" />

			<p:menuitem value="Crear Fichas" url="../protegido/ficha.xhtml"
				icon="fas fa-file" />

			<p:menuitem value="Registrar Estudiante"
				url="../protegido/estudiante.xhtml" icon="fas fa-file" />


			<p:submenu label="Mantenimiento" icon="pi pi-pencil">
				<p:menuitem value="Blog" url="../protegido/.xhtml"
					icon="pi pi-angle-double-right" />
				<p:separator />
				<p:menuitem value="Roles" url="../protegido/roles.xhtml"
					icon="pi pi-angle-double-left" />
				<p:separator />
				<p:menuitem value="Asignar Roles" url="../protegido/Hola.xhtml"
					icon="pi pi-angle-double-right" />
			</p:submenu>


			<f:facet name="options">
				<p:commandButton value="Cerrar sesión" icon="pi pi-home"
					actionListener="#{masterBean.cerrarSesion()}"
					action="index?faces-redirect=true" immediate="true" />
			</f:facet>
		</p:menubar>
	</ui:insert>
	<ui:insert name="content"></ui:insert>
	<ui:insert name="footer">
		<div class="footer"
			style="background: #333; color: #fff; padding: 8px; text-align: center;">
			<div class="social">
				<a class="fa fa-facebook-square fa-3x social"></a> <a
					class="fa fa-twitter-square fa-3x social"></a> <a
					class="fa fa-google-plus-square fa-3x social"></a> <a
					class="fa fa-envelope-square fa-3x social"></a>
			</div>
			<p class="copy">&copy; MavenBox B-2020</p>
		</div>

	</ui:insert>
</body>
</html>