#pie {
    width: 100%;
    margin: auto ;
    text-align: center;
    height: 200px;
    background-image: url('images/Pie.jpg');
    position: relative ;
}
 
#pieindex{
    margin: 15px 0px 5px 0px;
    padding: 15px 0px 0px 0px;    
    width: 950px;
    text-align: left;
    margin: auto ;
}
 
#pieindex div{
    font: normal normal bold 12px Verdana, Geneva, Tahoma, sans-serif;
    float: left;
    width: 227.5px;
    color: #6B0303;
    padding: 20px 0px 0px 10px;
}
 
#pieindex ul{
    list-style: none;
}
 
#pieindex ul a{
    font: normal normal normal 9.5px Verdana, Geneva, Tahoma, sans-serif;
    list-style: none;
    color: #000000;
    text-decoration: none;
}
 
#pieindex ul a:hover {
    color: #6B0303;
}
 
#pieindex p{
    background-image: url('Images/pieindex.gif');
    height: 60px;
    display: block;
    clear: both;
    color: #C0FF2C;
    vertical-align: text-bottom;
}
 
#pieindex span{
    background-image: url('Images/pieindex_superior.gif');
    height: 8px;
    display: block;
    clear: both;
}