<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>Projeto A</title>

	<link rel="stylesheet" href="animate.min.css" />
	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css" />


	<h:outputStylesheet library="webjars"
		name="bootstrap/4.4.1/css/bootstrap.min-js.css" />

	<h:outputStylesheet library="webjars"
		name="bootstrap/4.4.1/css/bootstrap.grid-js.css" />

	<h:outputStylesheet library="webjars"
		name="bootstrap/4.4.1/css/bootstrap-grid.css" />

	<h:outputStylesheet library="webjars"
		name="bootstrap/4.4.1/css/bootstrap-grid-jsf.css.gz" />

	<h:outputStylesheet library="webjars"
		name="bootstrap/4.4.1/scss/_nav.scss" />

	<h:outputStylesheet library="webjars"
		name="bootstrap/4.4.1/scss/_nav.scss.gz" />


	<h:outputStylesheet library="webjars"
		name="bootstrap/4.4.1/css/bootstrap.css" />

	<h:outputStylesheet library="webjars"
		name="font-awesome/5.12.0/css/all.min-jsf.css" />
	<h:outputStylesheet library="webjars"
		name="font-awesome/5.12.0/css/v4-shims.min-jsf.css" />


	<h:outputStylesheet library="webjars"
		name="bootstrap/4.4.1/js/bootstrap.min.js" />

	<h:outputStylesheet library="webjars"
		name="bootstrap/4.4.1/js/bootstrap.bundle.min.js" />
	<link rel="stylesheet"
		href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
		crossorigin="anonymous" />
</h:head>
<style>
body {
	font-family: 'Roboto', negrite;
	background: #000000; /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #434343, #000000);
	/* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #434343, #000000);
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.card-columns { @include media-breakpoint-only(lg) { column-count:4;}
@include media-breakpoint-only(xl){
column-count:5;
}
}
@media ( min-width : 576px) {
	.card-columns .card {
		display: inline-block;
		width: 83%;
	}
}
</style>

<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<div class="container">
		<a class="navbar-brand animated infinite shake" href="/">Análisis</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarNav" aria-controls="navbarNav"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item"><a class="nav-link"
					href="index.xhtml?faces-redirect=true"><i class="fas fa-user"></i>Adminnistrador</a></li>
				<li class="nav-item"><a class="nav-link"
					href="index.xhtml?faces-redirect=true"><i class="fab fa-houzz"></i>About</a></li>

				<li class="nav-item"><a class="nav-link"
					href="Contactos.xhtml?faces-redirect=true"><i
						class="fas fa-envelope"></i>Contact</a></li>

			</ul>
		</div>
	</div>
	</nav>


	<div class="card-columns ">
		<div class="card">
			<p:graphicImage library="Slider" name="For.jpg"
				style=" max-width:100%;" />
			<div class="card-body">
				<h5 class="card-title">Card title that wraps to a new line</h5>
				<p class="card-text">This is a longer card with supporting text
					below as a natural lead-in to additional content. This content is a
					little bit longer.</p>
			</div>
		</div>
		<div class="card p-3">
			<blockquote class="blockquote mb-0 card-body">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					Integer posuere erat a ante.</p>
				<footer class="blockquote-footer"> <small
					class="text-muted"> Someone famous in <cite
					title="Source Title">Source Title</cite>
				</small> </footer>
			</blockquote>
		</div>
		<div class="card">
			<p:graphicImage library="Slider" name="For.jpg"
				style=" max-width:100%;" />
			<div class="card-body">
				<h5 class="card-title">Card title</h5>
				<p class="card-text">This card has supporting text below as a
					natural lead-in to additional content.</p>
				<p class="card-text">
					<small class="text-muted">Last updated 3 mins ago</small>
				</p>
			</div>
		</div>
		<div class="card bg-primary text-white text-center p-3">
			<blockquote class="blockquote mb-0">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					Integer posuere erat.</p>
				<footer class="blockquote-footer text-white"> <small>
					Someone famous in <cite title="Source Title">Source Title</cite>
				</small> </footer>
			</blockquote>
		</div>
		<div class="card text-center">
			<div class="card-body">
				<h5 class="card-title">Card title</h5>
				<p class="card-text">This card has a regular title and short
					paragraphy of text below it.</p>
				<p class="card-text">
					<small class="text-muted">Last updated 3 mins ago</small>
				</p>
			</div>
		</div>
		<div class="card">
			<p:graphicImage library="Slider" name="For.jpg"
				style=" max-width:100%;" />
		</div>
		<div class="card p-3 text-right">
			<blockquote class="blockquote mb-0">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					Integer posuere erat a ante.</p>
				<footer class="blockquote-footer"> <small
					class="text-muted"> Someone famous in <cite
					title="Source Title">Source Title</cite>
				</small> </footer>
			</blockquote>
		</div>
		<div class="card">
			<div class="card-body">
				<h5 class="card-title">Card title</h5>
				<p class="card-text">This is another card with title and
					supporting text below. This card has some additional content to
					make it slightly taller overall.</p>
				<p class="card-text">
					<small class="text-muted">Last updated 3 mins ago</small>
				</p>
			</div>
		</div>
	</div>

</body>
<ui:insert name="footer">
	<div class="footer"
		style="background: #333; color: #fff; padding: 6px; text-align: center;">
		<div class="social">
			<a class="fa fa-facebook-square fa-3x social"></a> <a
				class="fa fa-twitter-square fa-3x social"></a> <a
				class="fa fa-google-plus-square fa-3x social"></a> <a
				class="fa fa-envelope-square fa-3x social"></a>
		</div>
		<p class="copy">&copy; Análisis B-2020</p>
	</div>

</ui:insert>


<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
	integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
	crossorigin="anonymous"></script>
<script
	src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
	integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
	crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
	integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
	crossorigin="anonymous"></script>
</html>
