<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:o="http://omnifaces.org/ui" xmlns:p="http://primefaces.org/ui">

<ui:composition template="/WEB-INF/template/master.xhtml">
	<ui:define name="content">
		<h1>Publicaciones</h1>
		<h:form id="frm">
			<p:growl id="growl" showDetail="true" sticky="true" />
			<h:panelGrid id="pg" columns="3">

					<p:outputLabel value="Nombres" for="txtNombres" />
					<p:inputText id="txtNombres" required="true"
						value="#{estudianteBean.estudiante.nombre}" />
					<p:message for="txtNombres" display="text" />
					
					<p:outputLabel value="Correo" for="txtCorreo" />
					<p:inputText id="txtCorreo" required="true"
						value="#{estudianteBean.estudiante.correo}" />
					<p:message for="txtCorreo" display="text" />
					
					<p:outputLabel value="Edad" for="txtEdad" />
					<p:inputText id="txtEdad" required="true"
						value="#{estudianteBean.estudiante.edad}" />
					<p:message for="txtEdad" display="text" />
					
					<p:outputLabel value="Familiares" for="txtFamiliares" />
					<p:inputText id="txtFamiliares" required="true"
						value="#{estudianteBean.estudiante.familiares}" />
					<p:message for="txtFamiliares" display="text" />
					

					<p:outputLabel value="Apellidos" for="txtApellidos" />
					<p:inputText id="txtApellidos" required="true"
						value="#{estudianteBean.estudiante.apellidos}" />
					<p:message for="txtApellidos" display="text" />

					<p:outputLabel for="cboSexo" value="Sexo" />
					<p:selectOneMenu id="cboSexo" value="#{estudianteBean.estudiante.sexo}"
						filterMatchMode="contains" required="true">
						<f:selectItem noSelectionOption="true" value="#{null}"
							itemLabel="---Seleccione---" />
						<f:selectItem itemLabel="Masculino" itemValue="M" />
						<f:selectItem itemLabel="Femenino" itemValue="F" />
					</p:selectOneMenu>
					<p:message for="cboSexo" display="text" />

					<p:outputLabel for="txtDireccion" value="Direccion" />
					<p:inputText id="txtDireccion" required="true"
						value="#{estudianteBean.estudiante.direccion}" />
					<p:message for="txtDireccion" display="icon" />

					<p:outputLabel for="cboPais" value="Pais" />
					<p:selectOneMenu id="cboPais" value="#{estudianteBean.estudiante.pais}"
						filter="true" filterMatchMode="contains" required="true">
						<f:selectItem noSelectionOption="true" value="#{null}"
							itemLabel="---Seleccione---" />
						<f:selectItems value="#{paisDTO.paises}" var="p" itemLabel="#{p}"
							itemValue="#{p}" />
					</p:selectOneMenu>
					<p:message for="cboPais" display="text" />

					<p:outputLabel for="puFoto" value="Foto" />
					<p:fileUpload id="puFoto"
						fileUploadListener="#{estudianteBean.handleFileUpload}"
						mode="advanced" uploadIcon="Subir" cancelLabel="Cancelar"
						label="Examinar..." />
					<p:message for="puFoto" display="icon" />

				
				<h:outputText id="display" />


				<p:commandButton value="Publicar"
					actionListener="#{estudianteBean.publicar()}"
					update=":frm:pg, growl, :frmpublicaciones" />
			</h:panelGrid>
		</h:form>

		<h2></h2>
		<h:form id="frmpublicaciones">
			<h:panelGrid columns="1">
			</h:panelGrid>
		</h:form>
	</ui:define>
</ui:composition>

</html>