<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="/WEB-INF/template/master.xhtml">
	<ui:define name="content">
		<h1>Estudiante</h1>

		<h:form id="form" enctype="multipart/form-data">
			<p:messages id="messages" showDetail="true" closable="true">
				<p:autoUpdate />
			</p:messages>
			<p:dataTable id="dt" var="p" value="#{estudianteBean.publicaciones}" rows="5"
				paginator="true"
				paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
				rowsPerPageTemplate="5,10,15">

				<p:column headerText="Nombres Completos">
					<h:outputText value="#{p.apellidos} #{p.nombre}" />
				</p:column>

				<p:column headerText="Sexo">
					<h:outputText
						value="#{estudianteBean.estudiante.sexo.equals('M') ? 'MASCULINO' : 'FEMENINO'}" />
				</p:column>

				<p:column headerText="Pais">
					<h:outputText value="#{estudianteBean.estudiante.pais}" />
				</p:column>

				<p:column headerText="Acciones" exportable="false">
					
						<p:commandButton value="Nuevo" oncomplete="PF('wdlg').show();"
							actionListener="#{fichaBean.limpiarControles()}"
							update=":form:dlg" process="@this" />
				</p:column>
			</p:dataTable>
			<p:dialog id="dlg" header="#{personaBean.tipoDialogo}"
				widgetVar="wdlg" modal="true" closeOnEscape="true" resizable="false"
				draggable="true">

				<h:panelGrid id="pg" columns="3">
				
				<p:outputLabel value="Padres" for="txtPadres" />
					<p:inputText id="txtPadres" required="true"
						value="#{fichaBean.persona.padres}" />
					<p:message for="txtPadres" display="text" />

					<p:outputLabel value="Casa" for="txtCasa" />
					<p:inputText id="txtCasa" required="true"
						value="#{fichaBean.persona.casa}" />
					<p:message for="txtCasa" display="text" />

					<p:outputLabel value="Ingresos" for="txtIngresos" />
					<p:inputText id="txtIngresos" required="true"
						value="#{fichaBean.persona.ingresos}" />
					<p:message for="txtIngresos" display="text" />

					<p:outputLabel value="Enfermedad" for="txtEnfermedad" />
					<p:inputText id="txtEnfermedad" required="true"
						value="#{fichaBean.persona.enfermedad}" />
					<p:message for="txtEnfermedad" display="text" />



					<p:outputLabel for="optBienes" value="Bienes" />
					<p:selectOneRadio id="optBienes" value="#{fichaBean.persona.bienes}" required="true">
						<f:selectItem itemLabel="si" itemValue="S"/>
						<f:selectItem itemLabel="no" itemValue="N"/>
					</p:selectOneRadio>
					<p:message for="optBienes" display="text" />
					

					<p:outputLabel for="txtEstragero" value="Estragero" />
					<p:inputText id="txtEstragero" required="true"
						value="#{fichaBean.persona.estrangero}" />
					<p:message for="txtEstragero" display="icon" />

				</h:panelGrid>

				<p:graphicImage value="/imagen/#{personaBean.persona.idPersona}"
					width="80" height="80" />

				<p:commandButton value="Registrar" 
					actionListener="#{fichaBean.operar('R')}" action="ficha?faces-redirect=true"/>
				
			</p:dialog>

		</h:form>
	</ui:define>
</ui:composition>
<h:head></h:head>
</html>