<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="/WEB-INF/template/master.xhtml">
	<ui:define name="content">
		<h1>Crear Persona</h1>

		<h:form id="form" enctype="multipart/form-data">
			<p:messages id="messages" showDetail="true" closable="true">
				<p:autoUpdate />
			</p:messages>
			<p:commandButton value="Nuevo" oncomplete="PF('wdlg').show();"
				actionListener="#{personaBean.limpiarControles}" update=":form:dlg"
				immediate="true" process="@this" />
			<p:dataTable id="dt" var="p" value="#{personaBean.lista}" rows="5"
				paginator="true"
				paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
				rowsPerPageTemplate="5,10,15">

				<p:column headerText="Nombres Completos">
					<h:outputText value="#{p.nombres} #{p.apellidos}" />
				</p:column>
								
				<p:column headerText="Sexo">
					<h:outputText
						value="#{p.sexo.equals('M') ? 'MASCULINO' : 'FEMENINO'}" />
				</p:column>

				<p:column headerText="Pais">
					<h:outputText value="#{p.pais}" />
				</p:column>

				<p:column headerText="Acciones" exportable="false">
					<p:commandLink actionListener="#{personaBean.mostrarData(p)}"
						oncomplete="PF('wdlg').show();" update=":form:dlg"
						immediate="true" process="@this">
						<h:graphicImage library="images" name="edit.jpg" />
					</p:commandLink>
				</p:column>
			</p:dataTable>

			<p:dialog id="dlg" header="#{personaBean.tipoDialogo}"
				widgetVar="wdlg" modal="true" closeOnEscape="true" resizable="false"
				draggable="true">

				<h:panelGrid id="pg" columns="3">

					<p:outputLabel value="Nombres" for="txtNombres" />
					<p:inputText id="txtNombres" required="true"
						value="#{personaBean.persona.nombres}" />
					<p:message for="txtNombres" display="text" />

					<p:outputLabel value="Apellidos" for="txtApellidos" />
					<p:inputText id="txtApellidos" required="true"
						value="#{personaBean.persona.apellidos}" />
					<p:message for="txtApellidos" display="text" />

					<p:outputLabel for="cboSexo" value="Sexo" />
					<p:selectOneMenu id="cboSexo" value="#{personaBean.persona.sexo}"
						filterMatchMode="contains" required="true">
						<f:selectItem noSelectionOption="true" value="#{null}"
							itemLabel="---Seleccione---" />
						<f:selectItem itemLabel="Masculino" itemValue="M" />
						<f:selectItem itemLabel="Femenino" itemValue="F" />
					</p:selectOneMenu>
					<p:message for="cboSexo" display="text" />

					<p:outputLabel for="txtDireccion" value="Direccion" />
					<p:inputText id="txtDireccion" required="true"
						value="#{personaBean.persona.direccion}" />
					<p:message for="txtDireccion" display="icon" />

					<p:outputLabel for="cboPais" value="Pais" />
					<p:selectOneMenu id="cboPais" value="#{personaBean.persona.pais}"
						filter="true" filterMatchMode="contains" required="true">
						<f:selectItem noSelectionOption="true" value="#{null}"
							itemLabel="---Seleccione---" />
						<f:selectItems value="#{paisDTO.paises}" var="p" itemLabel="#{p}"
							itemValue="#{p}" />
					</p:selectOneMenu>
					<p:message for="cboPais" display="text" />

					<p:outputLabel for="puFoto" value="Foto" />
					<p:fileUpload id="puFoto"
						fileUploadListener="#{personaBean.handleFileUpload}"
						mode="advanced" uploadIcon="Subir" cancelLabel="Cancelar"
						label="Examinar..." />
					<p:message for="puFoto" display="icon" />

				</h:panelGrid>

				<p:graphicImage value="/imagen/#{personaBean.persona.idPersona}"
					width="120" height="120" />

				<p:commandButton value="Registrar"
					actionListener="#{personaBean.operar('R')}"
					oncomplete="if(args &amp;&amp; !args.validationFailed) PF('wdlg').hide()"
					ajax="true" update=":form:dt"
					rendered="#{personaBean.tipoDialogo == 'Nueva Persona'}" />

				<p:commandButton value="Modificar"
					actionListener="#{personaBean.operar('M')}"
					oncomplete="if(args &amp;&amp; !args.validationFailed) PF('wdlg').hide()"
					ajax="true" update=":form:dt"
					rendered="#{personaBean.tipoDialogo == 'Modificar Persona'}" />
			</p:dialog>
		</h:form>
	</ui:define>
</ui:composition>
<h:head></h:head>
</html>